.header {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.924);
  display: flex;
  align-items: center;
  border-bottom: 0.8px solid #dedede;
  .header__logo {
    display: flex;
    align-items: center;
    img {
      height: 50px;
    }
  }
  .header__searchbox {
    display: flex;
    align-items: center;
    input {
      outline: none;
    }
    @media screen and (max-width: 770px) {
      & {
        display: none;
      }
    }
  }
  .header__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
